<h2>Celebrities</h2>
{{#each allTheCelebrities}}<!--it takes the key of the object
and references the value of the variable of the object we find-->
    Name: {{this.name}}<!--we mean the current obj of the array of objs! -->
{{/each}}